body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
}

#background {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

/* PERSONAJES */
.character {
  position: absolute;
  bottom: 18%;
  width: 80px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: idle 1.2s infinite;
}

.fede {
  left: 20%;
  background-image: url("../assets/fede.png");
}

.chicho {
  left: 45%;
  background-image: url("../assets/chicho.png");
}

.sebocha {
  left: 70%;
  background-image: url("../assets/sebocha.png");
}

/* HUD */
#hud {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  color: #fff;
}

.blink {
  animation: blink 1s infinite;
}

/* ANIMACIONES */
@keyframes idle {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0.2; }
}
